/** @format */

.study {
  background-image: url("https://cdn-media-1.freecodecamp.org/images/1*tMOJBSqKfYd9M2zOskluFw.png");
  background-repeat: no-repeat;
  background-color: #272822;
  background-size: 100%;
  height: 180vh;
}
.study-headline {
  color: whitesmoke;
  padding: 40px;
}
.study-ico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  float: left;
}
.studyAnimation {
  position: relative;
  top: 300px;
}
#avatar-study {
  width: 350px;
  position: relative;
  right: 330px;
}
#deved {
  position: relative;
  top: 240px;
  left: 260px;
  animation-name: devedAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: reverse;
}
#deved:hover {
  animation-play-state: paused;
}

#kampster {
  position: relative;
  top: 80px;
  left: 250px;
  animation-name: kampsterAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: reverse;
}
#kampster:hover {
  animation-play-state: paused;
}
#ninja {
  position: relative;
  left: 300px;
  bottom: 50px;
  animation-name: ninjaAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: reverse;
}
#ninja:hover {
  animation-play-state: paused;
}
#traversy {
  position: relative;
  left: 390px;
  bottom: 110px;
  animation-name: traversyAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: reverse;
}
#traversy:hover {
  animation-play-state: paused;
}
#webcon {
  position: relative;
  left: 490px;
  bottom: 70px;
  animation-name: webconAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: reverse;
}
#webcon:hover {
  animation-play-state: paused;
}
#webdev {
  position: relative;
  left: 470px;
  top: 80px;
  animation-name: webdevAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: reverse;
}
#webdev:hover {
  animation-play-state: paused;
}
#mintbean {
  position: relative;
  left: 450px;
  top: 240px;
  animation-name: mintbeanAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: reverse;
}
#mintbean:hover {
  animation-play-state: paused;
}

@keyframes mintbeanAnimation {
  0% {
    left: 450px;
    top: 240px;
  }
  25% {
    right: -100px;
    top: -100px;
    transform: rotate(360deg);
  }
  50% {
    left: -250px;
    bottom: -240px;
    transform: rotate(360deg);
  }
  100% {
    left: 450px;
    top: 240px;
  }
}
@keyframes devedAnimation {
  0% {
    top: 240px;
    left: 260px;
  }
  25% {
    right: -200px;
    top: -100px;
    transform: rotate(360deg);
  }
  50% {
    left: 1000px;
    bottom: -300px;
    transform: rotate(360deg);
  }
  100% {
    top: 240px;
    left: 260px;
  }
}
@keyframes kampsterAnimation {
  0% {
    top: 80px;
    left: 250px;
  }
  25% {
    left: 500px;
    top: -100px;
    transform: rotate(360deg);
  }
  50% {
    left: 800px;
    bottom: -300px;
    transform: rotate(360deg);
  }
  100% {
    top: 80px;
    left: 250px;
  }
}

@keyframes ninjaAnimation {
  0% {
    left: 300px;
    bottom: 50px;
  }
  25% {
    left: 400px;
    top: -100px;
    transform: rotate(360deg);
  }
  50% {
    left: 700px;
    bottom: -200px;
    transform: rotate(360deg);
  }
  100% {
    left: 300px;
    bottom: 50px;
  }
}
@keyframes traversyAnimation {
  0% {
    left: 390px;
    bottom: 110px;
  }
  25% {
    top: 240px;
    right: 360px;
    transform: rotate(360deg);
  }
  50% {
    left: 650px;
    top: 240px;
    transform: rotate(360deg);
  }
  100% {
    left: 390px;
    bottom: 110px;
  }
}
@keyframes webconAnimation {
  0% {
    left: 490px;
    bottom: 70px;
  }
  25% {
    left: 100px;
    top: 100px;
    transform: rotate(360deg);
  }
  50% {
    left: 300px;
    top: -300px;
    transform: rotate(360deg);
  }
  100% {
    left: 490px;
    bottom: 70px;
  }
}
@keyframes webdevAnimation {
  0% {
    left: 470px;
    top: 80px;
  }
  25% {
    left: 100px;
    top: 100px;
    transform: rotate(360deg);
  }
  50% {
    left: 300px;
    top: -300px;
    transform: rotate(360deg);
  }
  100% {
    left: 470px;
    top: 80px;
  }
}
.study-p {
  margin: 10px;
  padding: 5px;
  color: whitesmoke;
  position: relative;
  top: 280px;
}
@media (max-width: 768px) {
  .study {
    height: 100vh;
  }
  .study-ico {
    width: 70px;
    height: 70px;
  }
  .study-p {
    top: 120px;
  }
  #avatar-study {
    width: 250px;
    position: relative;
    right: 150px;
    bottom: 200px;
  }
  #deved {
    position: relative;
    top: 0px;
    left: 0px;
  }
  #kampster {
    position: relative;
    top: 0px;
    left: 0px;
  }
  #ninja {
    bottom: 0px;
    left: 30px;
  }
  #traversy {
    bottom: 0px;
    left: 50px;
  }
  #webcon {
    bottom: 0px;
    left: 180px;
  }
  #webdev {
    top: 0px;
    left: 200px;
  }
  #mintbean {
    left: 180px;
    top: 0px;
  }
}
