/** @format */

.screen-one {
  margin: 0;
  padding: 0;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-painted-warm-home-living-room-background-design-backgroundwarm-backgroundhome-backgroundliving-image_57655.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 120vh;
}
.screenOne-p {
  font-size: 25px;
  padding: 10px;
  background-color: peachpuff;
}
#phone {
  position: relative;
  left: 120px;
  top: 140px;
}
#accepted {
  width: 200px;
  position: relative;
  left: 180px;
  bottom: 100px;
  visibility: hidden;
  animation-name: acceptedAnimation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
@keyframes acceptedAnimation {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    transform: scale(1.3);
  }
}
#coursera {
  width: 200px;
  position: relative;
  left: 20px;
  bottom: 50px;
  visibility: hidden;
  animation-name: courseraAnimation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
@keyframes courseraAnimation {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
  }
  50% {
    visibility: visible;
    transform: scale(1.3);
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
#html {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  bottom: 80px;
  right: 80px;
  animation-name: htmlAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}
@keyframes htmlAnimation {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
    bottom: 80px;
    right: 80px;
    transform: rotate(360deg);
  }
  50% {
    visibility: visible;
    bottom: 120px;
    left: 100px;
    transform: rotate(360deg);
  }
  75% {
    visibility: visible;
    bottom: 120px;
    left: 220px;
    transform: rotate(360deg);
  }
  100% {
    visibility: hidden;
  }
}
#css {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  bottom: 80px;
  right: 50px;
  animation-name: cssAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
@keyframes cssAnimation {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
    bottom: 80px;
    right: 50px;
    transform: rotate(360deg);
  }
  50% {
    visibility: visible;
    bottom: 120px;
    left: 100px;
    transform: rotate(360deg);
  }
  75% {
    visibility: visible;
    bottom: 120px;
    left: 220px;
    transform: rotate(360deg);
  }
  100% {
    visibility: hidden;
  }
}
#couch {
  position: relative;
  right: 30px;
  top: 140px;
}

@media (max-width: 768px) {
  .screen-one {
    height: 50vh;
  }
  .screenOne-p {
    font-size: 10px;
    padding: 2px;
  }
  #phone {
    width: 100px;
    height: 150px;
    position: relative;
    right: 0px;
    left: 30px;
    top: 0px;
  }
  #couch {
    width: 100px;
    position: relative;
    right: 40px;
    top: 0px;
  }
  #accepted {
    width: 80px;
    position: relative;
    left: 50px;
  }

  #coursera {
    width: 80px;
    position: relative;
    bottom: 100px;
    left: 30px;
  }
  #html {
    width: 30px;
    height: 30px;
    position: relative;
    animation: none;
  }

  #css {
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    animation: none;
  }
}
