/** @format */

h2 {
  font-size: 6vw;
}

.bootcamp {
  background-image: url("https://cdn.wallpapersafari.com/8/71/Mapn1v.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 140vh;
}
.bootcamp-div {
  padding: 20px;
}
#itbootcamp-logo {
  width: 320px;
  height: 100px;
  position: relative;
  top: -490px;
  right: 10px;
  margin-left: 5px;
}
#git-ico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px #ff9803;
  position: relative;
  top: -420px;
  left: 20px;
}

#js-ico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px #ff9803;
  position: relative;
  top: -380px;
  left: 80px;
}
#react-ico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px #ff9803;
  position: relative;
  top: -300px;
  left: 120px;
}
#school-woman {
  position: relative;
  right: 70px;
  bottom: -230px;
}
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
