/** @format */

h2 {
  font-size: 6vw;
}

.bootcamp {
  background-image: url("https://cdn.wallpapersafari.com/8/71/Mapn1v.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 160vh;
}

.bootcamp-div {
  padding: 20px;
}
.bootcampAnimation {
  position: relative;
  top: 180px;
}
.p {
  margin: 50px;
  font-size: 25px;
  width: 35%;
  position: relative;
  background-color: peachpuff;
}
#itbootcamp-logo {
  width: 320px;
  height: 100px;
  position: relative;
  bottom: 490px;
  right: 10px;
  margin-left: 5px;
  animation-name: bootcampAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
#git-ico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px #ff9803;
  position: relative;
  bottom: 420px;
  left: 20px;
  animation-name: gitAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-direction: reverse;
}

#js-ico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px #ff9803;
  position: relative;
  bottom: 380px;
  left: 80px;
  animation-name: jsAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-direction: reverse;
}
#react-ico {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px #ff9803;
  position: relative;
  bottom: 300px;
  left: 120px;
  animation-name: reactAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-direction: reverse;
}
#school-woman {
  position: relative;
  right: 70px;
  top: 230px;
  animation-name: schoolWomanAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@keyframes gitAnimation {
  0% {
    top: -420px;
    left: 20px;
  }
  25% {
    top: -380px;
    left: 100px;
    transform: rotate(360deg);
  }
  50% {
    top: -320px;
    left: 200px;
    transform: rotate(360deg);
  }
  75% {
    top: -250px;
    left: 330px;
    transform: rotate(360deg);
  }
  100% {
    top: -420px;
    left: 20px;
    visibility: hidden;
  }
}
@keyframes jsAnimation {
  0% {
    top: -380px;
    left: 80px;
  }
  25% {
    top: -330px;
    left: 120px;
    transform: rotate(360deg);
  }
  50% {
    top: -300px;
    left: 180px;
    transform: rotate(360deg);
  }
  75% {
    top: -250px;
    left: 250px;
    transform: rotate(360deg);
  }
  100% {
    top: -380px;
    left: 80px;
    visibility: hidden;
  }
}
@keyframes reactAnimation {
  0% {
    top: -300px;
    left: 120px;
  }
  25% {
    top: -280px;
    left: 140px;
    transform: rotate(360deg);
  }
  50% {
    top: -250px;
    left: 150px;
    transform: rotate(360deg);
  }
  75% {
    top: -200px;
    left: 150px;
    transform: rotate(360deg);
  }
  100% {
    top: -300px;
    left: 120px;
    visibility: hidden;
  }
}
@keyframes schoolWomanAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bootcampAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .bootcamp {
    height: 70vh;
  }
  #itbootcamp-logo {
    width: 110px;
    height: 50px;
    position: relative;
    bottom: 180px;
    right: 0px;
    animation: none;
  }
  #git-ico {
    width: 50px;
    height: 50px;
    bottom: 150px;
    left: 10px;
    animation: none;
  }
  #js-ico {
    width: 50px;
    height: 50px;
    bottom: 100px;
    left: 10px;
    animation: none;
  }
  #react-ico {
    width: 50px;
    height: 50px;
    bottom: 60px;
    left: 10px;
    animation: none;
  }
  #school-woman {
    width: 200px;
    position: relative;
    top: -70px;
    right: 0px;
    left: 130px;

    animation: none;
  }
  .p {
    font-size: 10px;
    background-color: peachpuff;
    position: relative;
    bottom: 150px;
  }
}
