.projects-component {
    background: rgb(31,115,136);
background: radial-gradient(circle, rgba(31,115,136,1) 0%, rgba(44,199,215,1) 13%, rgba(16,119,233,1) 100%);
}

.project {
    width: 400px;
    height: 300px;
}