/** @format */

.projects-avatar {
  width: 500px;
  position: relative;
  float: left;
  bottom: 150px;
}
.projects-p {
  font-size: 30px;
  color: whitesmoke;
  padding: 20px;
}
.slideshow {
  margin: 0 auto;
  width: 100%;
  height: 195vh;
  padding-top: 50px;
  background-color: #0090de;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
.skills-ico-one {
  margin: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;

  position: relative;
  animation-name: icoOneAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.skills-ico-one:hover {
  animation-play-state: paused;
}
.skills-ico-two {
  margin: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: relative;
  left: 100px;
  bottom: 100px;
  animation-name: icoTwoAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.skills-ico-two:hover {
  animation-play-state: paused;
}

@keyframes icoOneAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    left: 100px;
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    right: 100px;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icoTwoAnimation {
  0% {
    left: 100px;
    bottom: 100px;
    transform: scale(1);
  }
  25% {
    left: 200px;
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    right: 200px;
    transform: scale(1.1);
  }
  100% {
    left: 100px;
    bottom: 100px;
    transform: scale(1);
  }
}
.skill-icon {
  width: 50px;
  height: 50px;
  border: solid 2px black;
  box-shadow: 10px 10px 5px grey;
  border-radius: 50%;
}
.content {
  margin: auto;
  width: 200px;
  perspective: 1000px;
  padding-top: 80px;
  position: relative;
  left: 120px;
}
.carasoul {
  width: 100%;
  animation: rotar 25s infinite linear;
  transform-style: preserve-3d;
}
.carasoul:hover {
  cursor: pointer;
  animation-play-state: paused;
}
.carasoul img {
  border: solid 3px black;
}
.carasoul figure {
  width: 100%;
  height: 200px;
  position: absolute;
}
.carasoul figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.carasoul figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.carasoul figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.carasoul figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.carasoul figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.carasoul figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.carasoul figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.carasoul figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.carasoul figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.carasoul img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}
.carasoul img:hover {
  transform: scale(1.2);
  transition: all 300ms;
  border: 1px solid;
  border-radius: 5px;
}
.shadow {
  box-shadow: 0px 0px 20px 0px #000;
  border-radius: 5px;
}
@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@media (max-width: 768px) {
  .content-div {
    display: grid;
    grid-template-columns: auto;
  }
  .projects-avatar {
    width: 400px;
    bottom: 0px;
  }
  .projects-p {
    font-size: 10px;
    padding: 5px;
  }
  .skills-ico-one {
    top: 100px;
  }
}
