/** @format */
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: aliceblue;
  overflow: scroll;
  scroll-behavior: smooth;
  font-family: "Potta One", cursive;
}
.intro {
  display: grid;
  grid-template-columns: auto auto;
}
.avatarIntro {
  width: 100%;
}
h1 {
  width: 60%;
  margin-top: 200px;
  font-size: 6vw;
}
p {
  font-size: 30px;
}

@media (max-width: 768px) {
  body {
    display: grid;
    grid-column: auto;
  }
}
