/** @format */
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
.App {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #204a4d;
  overflow: scroll;
  scroll-behavior: smooth;
  font-family: "Potta One", cursive;
  background-color: #00bdde;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.intro {
  display: grid;
  grid-template-columns: auto auto;
}
.avatarIntro {
  width: 700px;
}
h1 {
  width: 70%;
  margin-top: 200px;
  font-size: 6vw;
  color: peachpuff;
}
.intro-p {
  color: peachpuff;
  font-size: 30px;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    display: grid;
    grid-column: auto;
  }
  .intro {
    margin: 10px;
    display: grid;
    grid-template-columns: auto;
  }
  .avatarIntro {
    width: 400px;
  }
  h1 {
    font-size: 8vh;
    position: relative;
    bottom: 200px;
  }
  .intro-p {
    font-size: 6vh;
    position: relative;
    bottom: 100px;
  }
}
